.compute-content{
  width: 100%;

  .main_content{
    border:1px solid lightgray;
    height: 95%;
  }

  .icon_content{
    font-size: 80px;
  }
}

.distribute-content{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px;

  .overview{
    display: flex;
    flex:1;
    section{
      display: flex;
      flex-direction: column;
      flex:0.25;
      text-align: center;
    }

    .overview_num{
      font-size: 20px;
      font-weight: bolder;
    }

  }

  .fun_btn{
    margin-bottom: 10px;
    Button{
      margin-right: 5px;
    }
  }

  .table_content{
    background-color:#fff ;
    padding: 5px;
  }
}

.detailInfo{
  .detail_title{
    margin-bottom: 10px;
    .backBtn{
      margin-right: 8px;
    }
  }

  .detail_content{
    padding:15px;
  }

}


.baseInfo-content{
  overflow-y: auto;
  .base_info{
    display: flex;


  }

  span{
    min-width: 100px;
  }

  .show_image{
    display: flex;
    margin-bottom: 10px;
    img{
      width:200px;
      margin-right: 10px;
    }
    .show_apply_img{
      display: flex;
      flex: 1;
      flex-wrap: wrap;

      img{
        display: flex;
        flex-direction: row;
        width: 32%;
        margin-right: 10px;
        margin-bottom: 20px;
      }
    }


  }

}

