.summary-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .summary-left{
    flex: 1;
    margin-right: 15px;
    .revenue-overview{
      background-color: #ffffff;
      padding: 15px;
      margin-bottom: 15px;
      width: 100%;
      flex: 1;
      .revenue-title{
        font-size: 18px;
        font-weight: 600;
        padding: 15px 0;

      }
      .revenue-info{
        .info-number{
          ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            li{
              flex: 0.3333;
              .info-name{
                color: #999999;
                padding-bottom: 10px;

              }
              .number-info{
                font-size: 18px;
              }

            }
          }

        }
        .info-charts{
          ul{
            display: flex;
            flex-direction: row;
            li{
              flex: 0.5;
              width: 50%;
              max-width: 50%;
              padding: 20px;

            }
          }


        }

      }

    }
    .sales-content{
      background-color: #ffffff;
      ul{
        display: flex;
        flex-direction: row;
        li{
          flex: 0.3333;
          padding: 15px;
          .sales-title{
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;

          }
          .sales-info{
            .info-name{

            }
            .info-list{

            }

          }

        }
      }
    }

  }
  .summary-right{
    width: 450px;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    .right-item{
      background-color: #ffffff;
      padding: 15px;
      margin-bottom: 15px;
      .item-title{
        padding: 10px 0;
        font-size: 18px;
        font-weight: 500;

      }
      .item-info{
        ul{
          display: flex;
          flex-direction: row;
          align-items: center;
          li{
            flex: 0.3333;
            .info-title{
              color: #999999;
              padding-bottom: 15px;

            }
            .info-text{

            }
            .growth-rate{
              display: flex;
              flex-direction: row;
              align-items: center;
              font-size: 12px;
              .rate-info{
                display: flex;
                flex-direction: row;
                align-items: center;
              }
            }

          }
        }
      }
    }

  }

}
